.quill :global .ql-container  {
    border: none;
    border-radius: 18px;
    height: 237px;
    font-size: 18px;
    overflow-y: scroll;
    padding: 18px 24px;
    background-color: white;
}

.quill :global .ql-toolbar  {
    background-color: rgb(255, 255, 255);
    width: fit-content;
}
