{
  "extends": "@istanbuljs/nyc-config-typescript",
  "reporter": [
    "text",
    "lcov"
  ],
  "include": [
    "src/app/**/*"
  ],
  "exclude": [
    "coverage",
    "libs/**",
    "**/generated/*",
    "src/app/**/_components/*"
  ],
  "excludeAfterRemap": true,
  "all": true,
  "check-coverage": true,
  "extension": [
    ".js",
    ".cjs",
    ".mjs",
    ".ts",
    ".tsx",
    ".jsx"
  ],
  "report-dir": ".cy",
  "cache": false
}
